ADMIN_EMAIL=
ADMIN_SECRET_KEY=
AWS_ACCESS_KEY_ID=
AWS_BUCKET_NAME=
AWS_REGION=
AWS_S3_BUCKET=
AWS_SECRET_ACCESS_KEY=
BLOB_READ_WRITE_TOKEN=
CDN_BASE_URL=
CREATOMATE_API_KEY=
DATABASE_URL=
IA_ACCESS_KEY=
IA_SECRET_KEY=
MASTER_ADMIN_KEY=
MONGO_URI=
NEXT_PUBLIC_APP_URL=
PERSONAL_PAYPAL_EMAIL=
RESEND_API_KEY=
S3_BUCKET=
STRIPE_SECRET_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
TIKTOK_SECURE_AUTH_TOKEN=
VITE_APP_NAME=
VITE_AUDIO_PROVIDER_KEY=
VITE_DATABASE_SECRET_KEY=
VITE_PAYMENT_GATEWAY_KEY=
VITE_STORAGE_BUCKET_KEY=
WATCH_DIR=